body {
  font-family: Arial, sans-serif;
  background-color: #f2f6fc;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz-container { 
  text-align: center;
  background-color: white;
  padding: 50px 80px;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}
select, button {
  font-size: 16px;
  padding: 10px 15px;
  margin: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
}

button {
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9;
}


h1, h2 {
  text-align: center;
}

.btn-grid {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;
}

button {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #3498db;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}

.next-btn {
  display: none;
}

.hide {
  display: none;
}

.correct {
  background-color: #2ecc71;
}

.wrong {
  background-color: #e74c3c;
}
